<div class="ui-g">

  <div class="ui-g-6">
      <p-card styleClass="panel panel1">
      <div align="center">

          <h2>Clasificados por aprobar</h2>
          
        <span style="font-size:3em"><b>4 </b><i class="fa fa-newspaper"></i></span>
      </div>
    </p-card>
  </div>

  <div class="ui-g-6">
      <p-card styleClass="panel panel2">
        <div align="center">
  
            <h2>PQRSF Pendientes</h2>
            
          <span style="font-size:3em"><b>2 </b><i class="fa fa-question-circle"></i></span>
        </div>
      </p-card>
    </div>

    <div class="ui-g-6">
        <p-card styleClass="panel panel3">
          <div align="center">
    
              <h2>Eventos por aprobar</h2>
              
            <span style="font-size:3em"><b>6 </b><i class="fa fa-calendar-alt"></i></span>
          </div>
        </p-card>
      </div>

      <div class="ui-g-6">
          <p-card styleClass="panel panel4">
            <div align="center">
      
                <h2>Cartera vencida</h2>
                
              <span style="font-size:3em"><b>1'300.000 </b><i class="fa fa-dollar-sign"></i></span>
            </div>
          </p-card>
        </div>

</div>