.topbar {
  background-color: #29329c;
  height: 65px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  line-height: 64px;
  padding-left: 20px;
}